* {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white !important;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  align-content: center;
  margin-top: -1rem;
}

form {
  display: table;
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 0 auto;
}

form input {
  border-radius: 5px !important;
}

form input[type="submit"] {
  box-shadow: none !important;
  border: none;
  padding: 0.4rem;
  width: 100%;
  cursor: pointer;
  background: gray !important;
  color: white !important;
}

form .error {
  color: mediumvioletred;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.sent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1, h2 {
  text-align: center;
  font-family: 'Dancing Script', cursive !important;
}
body {
  background: #ece7e7;
}

.redBg {
  background-color: red;
  border-radius: 51px;
  color: white;
  padding: 5px;
}
